* {
    font-family: "Azeret Mono", monospace;
    font-size: large;
}

body {
    background-color: #EDD8D8;
    padding: 2%;
    height: calc(100vh-padding);
    overflow: hidden;
}

.side-left{
    min-width: 18%;
    max-width: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 2%;
}

.side-left .logo{
    width: 11vw;
    height: 7vh;
}

.side-left .logo img{
    width: 100%;
    height: 100%;
}

.sidebar{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

li.active{
    border-right: 3px solid #FF9B22;
}

.searchbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-wrapper{
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.wrap{
    display: flex;
    flex-direction: column;
}

.wrap div{
    padding: 10px 0;
}

.sidebar li{
    list-style: none;
    width: 100%;
}

.sidebar li a{
    display: flex;
    color: #D72638;
    text-decoration: none;
    align-items: center;
}

.sidebar li.active a{
    color: #B11131;
    font-weight: 700;
}

.sidebar li a i{
    width: 16px;
    height: 16px;
    padding-right: 10px;
}

.sidebar img {
    padding-right: 10px;
    image-rendering: optimizeQuality;
}

.add-post-Button{
    padding: 10px 20px;
    border-radius: 80px;
    background-color: #D72638;
    color: aliceblue;
    border-color: transparent;
}

.content{
    min-height: 100%;
    display: flex;
    position: relative;
    gap: 1%;
}

#logout{
    bottom: 0;
    left: 0;
}

.side-right{
    flex: 1;
    max-width: 80%;
    height: inherit;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    /* padding-left : 2%; */
}

.top{
    display: flex;
    width: 100%;
    gap: 8%;
    align-items: center;
    justify-content: space-around;
    color: #D72638;
}

.searchbar {
    background-color: #F9E6E6;
    border-radius: 30px;
    width: 80%;
    padding: 15px 20px;
    color: #E37070;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

input[type=text] {
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding-left: 20px;
}

input::placeholder{
    color: #E37070;
}

input[type=text]:focus {
    outline: none;
}

.fa-bell::before, .fa-user::before{
    font-size: 32px;
}

.bottom{
    height: 80vh;
    position: relative;
    display: flex;
}

.calendar-container{
    width: 35%;
    border: 1px solid #B11131;
}

