.post-container{
    min-height: 100%;
    max-width: 65%;
    min-width: 65%;
    margin-right: 2.5vw;
    display: flex;
    flex-direction: column;
}

.video-story{
    border: 1px solid #B11131;
    max-width: 100%;
    min-height: 27.5%;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    gap: 1vw;
    scroll-snap-type: x mandatory; /* enables snapping behavior */
    -webkit-overflow-scrolling: touch; /* smooth scroll on mobile */
    scrollbar-width: none; /* hide scrollbar (Firefox) */
    cursor: grab;
    user-select: none;
    scroll-behavior: smooth;
    white-space: nowrap; /* Important fallback */
}

.video-story.dragging{
    cursor: grabbing;
}

.video-story::-webkit-scrollbar {
    display: none;
}

.video-story video{
    height: 100%;
}

.post {
  display: flex;
  flex-direction: row; /* stack items from top to bottom */
  height: auto;
  position: relative;
  border: 1px solid #B11131;
  padding-top: 3vh;
}



.post::-webkit-scrollbar {
    display: none;
}

.column{
    max-width: 50%;
    height: auto;
    position: relative;
    border: 1px solid #FF9B22;
}

.video-card{
    /* I want this to be like a card that can overflow from it's container */
    top: 0;
    left: 0;
    flex: 0 0 auto; /* prevent shrinking and define fixed width */
    scroll-snap-align: start;
    width: 9vw;
    height: 100%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuTZhOBJZHQms_ovBwF6qCUuaWpz6cvIgvpw&s");
    background-size: cover;
    background-position: center;
    border-radius: 40px 40px 40px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.video-card::before{
    border-radius: 40px 40px 40px 10px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0; /* Start invisible */
    transition: opacity 0.3s ease;
    pointer-events: none; /* Prevent blocking clicks */
}

.video-card:hover::before{
    opacity: 1;
}

.video-card:hover{
    top: -0.5vh;
    /* left: -0.2vh; */
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.7);
}

.user-profile{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 0.5vw; */
    position: absolute;
    bottom: 1vh;
    left: 0;
    width: 100%;
}

.user-pic{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #F9E6E6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #D72638;
}

.user-profile .user-info p{
    margin: 0;
}

.user-profile .user-info .user-name{
    font-size: 16px;
    font-weight: normal;
    color: #FFF;
}

.user-profile .user-info .user-desc{
    font-size: 12px;
    font-weight: normal;
    color: #FFF;
}

.user-pic .fa-solid.fa-user::before{
    font-size: 24px;
}

.pop-up{
    width: 100%;
    height: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    transition: height 0.5s ease-in-out;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 1;
}

.pop-up.active{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    opacity: 1;
    transition: height 0.5s ease;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.pop-up.active .video-container.landscape{
    width: 40vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pop-up.active .video-container.landscape{
    width: 40vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pop-up .video-container video{
    width: 100%;
    height: 100%;
}

.column .post-card {
    max-width: 100%;
    padding: 3vh;
    background-color: rgba(249, 230, 230, 1);
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 1vh;
}

.column .post-card .paragraph{
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    color: #000;
    margin: 2vh 0 2vh 0;
}

.column .post-card .top-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.column .post-card .top-section .left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}

.column .post-card .top-section .left .prof-pic{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #B01130;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column .post-card .top-section .left .user-info{
    display: flex;
    flex-direction: column;
}

.column .post-card .top-section .left .user-info p{
    text-align: left;
    font-size: 12px;
    color: #B01130;
    margin: 0;
}

.column .post-card .top-section .left .user-info .user-name{
    font-weight: bold;
}

.column .post-card .top-section .right .fa-solid.fa-share::before{
    font-size: 20px;
    transition: font-size 0.3s ease-in-out;
    color:#B01130;
}

.column .post-card .top-section .right .fa-solid.fa-share:hover::before{
    font-size: 24px;
}

.column .post-card.textImage .images{
    margin: 0 0 2vh 0;
}

.column .post-card.textImage .images.image4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-radius: 30px;
    overflow: hidden;
    background-color: #B01130;
    border: 1px solid #B01130;
}

.column .post-card.textImage .images.image4 .image{
    max-height: 100%;
    width: 100%;
    border: 1px solid #B01130;
}

.column .post-card.textImage .images.image4 .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.column .post-card.textImage .interaction-section{
    display: flex;
    justify-content: right;
    gap: 2vh;
    color: #B01130;
}

.interaction-section .fa-heart {
    transition: color 0.3s ease, transform 0.3s ease;
    color: #B01130;
}

.interaction-section .fa-heart.active {
    font-weight: bold;
    color: #B01130; /* red */
}

.interaction-section .fa-heart.pop {
    animation: pop 0.4s ease;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
